@import "../../../_variables.css";

.cart {
  text-align: center;
  background-color: var(--secondary);
  height: calc(100vh - 145px);
  padding: 20px;
}

.emptyCart h2 {
  font-weight: 500;
}

.emptyCart p {
  color: gray;
  margin-bottom: 25px;
}

.emptyCart img {
  width: 35%;
  margin-bottom: 30px;
}

.orderContainer {
  width: 50%;
  margin: 0 auto;
}

.orderContainerHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(185, 180, 180);
}

.orderContainerHeader h3 {
  margin-left: 20px;
}

.priceContainer {
  padding: 20px;
  text-align: end;
}

.amountText {
  margin-bottom: 30px;
}

.totalAmount {
  font-weight: 500;
}

.priceText {
  font-weight: 500;
  color: var(--primary);
  font-size: 20px;
  margin-left: 10px;
}

.priceContainer input {
  text-decoration: none;
  padding: 10px;
  width: 40%;
  margin-bottom: 35px;
  border: 1px solid gray;
}

.priceContainer input:focus {
  border: 1px solid var(--primary);
}

@media (max-width: 500px) {
  .cart {
    padding: 10px;
    height: calc(100vh - 125px);
  }

  .orderContainer {
    width: 100%;
  }

  .orderContainerHeader {
    font-size: 0.8rem;
  }

  .priceContainer {
    text-align: start;
    padding-left: 10px;
    font-size: 0.9rem;
  }

  .priceText {
    font-size: 1rem;
  }

  .amountText {
    margin-bottom: 15px;
  }
}
