.button2 {
  display: flex;
  justify-content: space-evenly;
  border-radius: 30px;
  border: 2px solid var(--primary);
  background-color: var(--pure);
  color: var(--primary);
  padding: 5px 8px;
  width: 100px;
  transition: var(--smooth);
  cursor: pointer;
}

.button2:hover {
  background-color: var(--primary);
  color: var(--pure);
}
