@import "../../../../_variables.css";

.menuCard {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.menuCard img {
  height: 180px;
  width: 180px;
}

.pizzaInfo {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pizzaTitle {
  margin: 10px 0;
  font-weight: 500;
}

.size {
  margin: 10px 0;
  border-radius: 30px;
  font-size: x-small;
  background-color: var(--secondary);
  padding: 5px 15px;
}

.pricingContainer {
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
