@import "../../_variables.css";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.logo {
  flex: 0.5;
}

.menu {
  flex: 0.5;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  text-decoration: none;
}

.menu a {
  margin-right: 30px;
  text-decoration: none;
  cursor: pointer;
  color: var(--dark);
  transition: var(--smooth);
}

.menu a:hover {
  color: var(--primary);
}

.cartLogo {
  display: flex;
  width: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 8px 20px;
  border-radius: 30px;
}

.cartLogo span {
  color: white;
  font-weight: 600;
}

.cartLogo:hover {
  background-color: var(--primary-hover);
}
